<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/save_gender" method="post">
        <input type="radio" name="gender" id="male" value="male">
        <label for="male">Male</label>
        <input type="radio" name="gender" id="female" value="female">
        <label for="female">Female</label>
        <input type="submit" value="Submit">
    </form> -->

    <form action="/submit_answer" method="post">
        <h4>sa e ka vleren 2+2*2</h4>
        <input type="checkbox" name="answer" value="2" id="two">
        <label for="two">2</label>
        <input type="checkbox" name="answer" value="4" id="four">
        <label for="four">4</label>
        <input type="checkbox" name="answer" value="6" id="six">
        <label for="six">6</label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>